{% extends 'base.html' %}

{% block content %}
    <section class="booking">
        <div class="booking-wrapper">
            <h2 class="booking-title">
                Сауна и чаны
            </h2>
            <div class="booking-button">
                <button class="chose-booking">Забронировать сауну</button>
                <button class="chose-booking">Забронировать чан</button>
            </div>
            <div class="booking-calendar">
                <div class="calendar-wrapper">
                    <div id="datepicker"></div>
                    <input type="hidden" id="datepicker_value"/>
                </div>
                <div class="visit-time">
                    <p class="text">
                        Время
                    </p>
                    <p>9:00</p>
                    <p>12:00</p>
                    <p>15:00</p>
                    <p>18:00</p>
                    <p>21:00</p>
                </div>
            </div>
            <div class="booking-description">
                <p class="description-item">Есть места</p>
                <p class="description-item">Мест нет</p>
            </div>
            <button class="btn-booking">Забронировать</button>
        </div>
    </section>
{% endblock %}