{% extends 'base.html' %}


{% block content %}
    <section class="services">
        <div class="services-wrapper">
            <h2 class="services-title">
                Услуги
            </h2>
                <div class="services-row">
                    <div class="service-column">
                        <p class="column-name">Наименование</p>
                        {% for item in services %}
                        <p class="item-name">{{ item.title }}</p>
                        {% endfor %}
                    </div>
                    <div class="service-column">
                        <p class="column-price">Цена</p>
                        {% for item in services %}
                        <p class="item-price">{{ item.price }}</p>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </section>
{% endblock %}