{% extends 'base.html' %}


{% block content %}
    <section class="services">
        <div class="services-wrapper">
            <h2 class="services-title">
                Услуги
            </h2>
            <div class="services-row">
                <div class="service-column">
                    <p class="column-name">Наименование</p>
                    <p class="item-name">Веник</p>
                </div>
                <div class="service-column">
                    <p class="column-price">Цена</p>
                    <p class="item-price">100грн</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}