<div class="discounts">
    {% for item in events %}
        {% if forloop.first %}
        <div class="caption">
            <h2 class="caption-title">
                {{ item.title }}
            </h2>
            <h3 class="caption-subtitle">
                {{ item.desc }}
            </h3>
            <p class="caption-discount">
                {{ item.price }}
            </p>
            <button class="caption-button">
                Забронировать
            </button>
        </div>
        {% else %}
        <div class="caption">
            <h2 class="caption-title">
                {{ item.title }}
            </h2>
            <h3 class="caption-subtitle">
                {{ item.desc }}
            </h3>
            <p class="caption-discount">
                {{ item.price }}
            </p>
            <button class="caption-button">
                Забронировать
            </button>
        </div>
        {% endif %}
    {% endfor %}
    </div>