<div class="feedback-slider container">
    <h2 class="title">Отзывы</h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for item in feedback %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                        <div class="card">
                            <h4 class="username">
                                {{ item.user_name }}
                            </h4>
                            <p class="user-feedback">
                                {{ item.user_message }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <div class="card">
                            <h4 class="username">
                                {{ item.user_name }}
                            </h4>
                            <p class="user-feedback">
                                {{ item.user_message }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <button class="feedback-button" id="show-feedback-form">Оставить отзыв</button>
    <div class="popup-form" id="popup-feedback">
        <form class="feedback-form" action="" method="POST">
            {% csrf_token %}
            <div class="input-wrapper">
                <label>
                    {{ form_feedback.user_name }}
                </label>
                <label>
                    {{ form_feedback.user_email }}
                </label>
            </div>
            <label>
                {{ form_feedback.user_message }}
            </label>
            <input type="submit" id="send-feedback" value="Отправить"/>
        </form>
    </div>
</div>