{% extends 'base.html' %}


{% block content %}
<!-------------------------------END LANDING PAGE-------------------------------------->
<main>
<!-------------------------------Slider section-------------------------------------->
    {% include 'visit_slider.html' %}
<!-------------------------------End slider section-------------------------------------->
<!-------------------------------About section-------------------------------------->
    {% include 'about.html' %}
<!-------------------------------End about section-------------------------------------->
<!-------------------------------Why Choose Us section-------------------------------------->
    {% include 'offer.html' %}
<!-------------------------------End Why Choose Us section-------------------------------------->
<!-------------------------------Events section-------------------------------------->
    {% include 'events.html' %}
<!-------------------------------End events section-------------------------------------->
<!-------------------------------Feedback section-------------------------------------->
    {% include 'feedback.html' %}
<!-------------------------------End feedback section-------------------------------------->
</main>
<!-------------------------------END LANDING PAGE-------------------------------------->
{% endblock %}