<div class="offers">
    <h2 class="title">Почему выбирают нас</h2>
    <div class="row">
        {% for item in offer %}
            <div class="card">
                <img class='card-img' src="{{ item.photo.url }}" alt="{{ item.title }}"/>
                <h4 class="card-title">
                    {{ item.title }}
                </h4>
                <p class="card-text">
                    {{ item.desc }}
                </p>
                <h3 class="card-price">
                    {{ item.price }}
                </h3>
                <a class="card-button">
                    Подробнее
                </a>
            </div>
        {% endfor %}
    </div>
</div>