@import './variables/variebles';
@import "./mixins/mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: $default-size;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: $font-size-xxl;
  font-weight: 700;
  font-family: 'Caveat', cursive;
}

h2 {
  font-size: $font-size-xl;
  font-family: 'Caveat', cursive;
}

h3 {
  font-size: $font-size-l;
}

h4 {
  font-size: $font-size-m;
}

.container {
  width: $container-width;
  margin: auto;
}

// -----------------------Header styles----------------------------

header.header {
  height: 100px;
  width: 100%;
  background-image: url("../img/header/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas: '. logo content content content content content content content content content content content .';
    height: 100%;


    .logo {
      grid-area: logo;
      margin: auto;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .collapse-toggle {
      display: none;
      position: relative;
      width: 40px;
      height: 40px;
      margin: auto;
      border: 1px solid white;
      border-radius: 8px;
      background: transparent;

      span:nth-child(1) {
        border: 1px solid white;
        border-radius: 5px;
        position: absolute;
        top: 25%;
        left: 9px;
        width: 20px;
      }

      span:nth-child(2) {
        border: 1px solid white;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 9px;
        width: 20px;
      }

      span:nth-child(3) {
        border: 1px solid white;
        border-radius: 5px;
        position: absolute;
        bottom: 25%;
        left: 9px;
        width: 20px;
      }
    }

    .content-collapse {
      display: grid;
      grid-area: content;
      grid-template-columns: repeat(11, 1fr);
      grid-template-areas: 'links links links links links . btn btn phone phone schedule';

      .links-nav {
        grid-area: links;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 2fr;

        .link-item {
          @include nav-link(24px);
        }
      }

      .btn-callback {
        grid-area: btn;
        @include btn(12px, 12px);
      }

      .phone {
        grid-area: phone;
        @include nav-link(18px)
      }

      .schedule {
        grid-area: schedule;
        margin: auto;

        p {
          color: $secondary-text-color;
          padding: 3px 0;
          margin: auto;
          text-align: center;
        }
      }
    }


  }
}

// -------------------------Footer styles--------------------------

footer.footer {
  background-image: url("../img/footer/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: grid;
  grid-template-rows: 9fr 1fr;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;

    .logo {
      margin: auto;

      img {
        display: block;
        margin: auto;
      }
    }

    .menu {
      margin: auto 0 auto 4rem;

      .link-item {
        @include nav-link(20px, 14px);
        text-align: left;
        padding: 2px 0;
      }
    }

    .payment {
      margin: 2rem auto 0 auto;
      width: 60%;

      .payment-title {
        @include footer-column-title();
        color: $secondary-text-color;
      }

      .payment-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        i.fab.fa-cc-visa,
        i.fab.fa-cc-mastercard {
          color: white;
          font-size: 70px;
          text-align: center;
        }
      }
    }

    .contacts {
      margin: 2rem auto 0 auto;

      .contact-title {
        @include footer-column-title();
        color: $secondary-text-color;
      }

      .contact-item {
        @include nav-link(18px);
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    color: $secondary-text-color;

    i.far.fa-copyright {
      color: $secondary-text-color;
    }
  }
}


// ---------------------------Media Queries--------------------------------
@media screen and (max-width: 1439.98px) {

}

@media screen and (max-width: 1199.98px) {

}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 767.98px) {

}

@media screen and (max-width: 575.98px) {

}
