footer.footer .wrapper .contacts p.contact-title, footer.footer .wrapper .payment p.payment-title {
  color: black;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}
footer.footer .wrapper .contacts p.contact-title:before, footer.footer .wrapper .payment p.payment-title:before {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 100%;
  bottom: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Caveat", cursive;
}

h2 {
  font-size: 48px;
  font-family: "Caveat", cursive;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.container {
  width: 1400px;
  margin: auto;
}

header.header {
  height: 100px;
  width: 100%;
  background-image: url("../img/header/header-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
header.header .wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 2fr 2fr;
  height: 100%;
}
header.header .wrapper .logo {
  margin: auto;
}
header.header .wrapper .logo img {
  width: 80px;
  height: 80px;
}
header.header .wrapper nav.menu {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
}
header.header .wrapper nav.menu a.link-item {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
header.header .wrapper nav.menu a.link-item:hover {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
header.header .wrapper button.btn-callback {
  display: block;
  padding: 12px 12px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
header.header .wrapper button.btn-callback:hover {
  background: #DF7901;
  cursor: pointer;
}
header.header .wrapper a.phone {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
header.header .wrapper a.phone:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
header.header .wrapper .schedule {
  margin: auto;
}
header.header .wrapper .schedule p {
  color: white;
  padding: 3px 0;
  margin: auto;
}

.visit-slider .carousel-inner .carousel-item {
  height: 1000px;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block {
  width: 800px;
  margin: 0 auto 18% auto;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block h1.slider-title {
  line-height: 90px;
  color: white;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block h4.slider-subtitle {
  color: white;
  margin-bottom: 45px;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block button.btn-slider {
  display: block;
  padding: 15px 85px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
  position: relative;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block button.btn-slider:hover {
  background: #DF7901;
  cursor: pointer;
}
.visit-slider .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block button.btn-slider img.btn-icon {
  position: absolute;
  top: -4.6rem;
  right: -4.5rem;
}
.visit-slider .carousel-indicators button.indicator_custom.active {
  text-align: center !important;
  width: 35px !important;
  height: 35px !important;
  opacity: 0.5 !important;
  margin: auto 3px;
}
.visit-slider .carousel-indicators button.indicator_custom {
  box-sizing: inherit !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50%;
  background: white !important;
  opacity: 1 !important;
  margin: auto 3px;
}
.visit-slider button.carousel-control-prev,
.visit-slider button.carousel-control-next {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  top: 70%;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.visit-slider button.carousel-control-prev {
  left: 5%;
}
.visit-slider button.carousel-control-next {
  right: 5%;
}

.about {
  margin: 100px auto;
}
.about h2.title {
  text-align: center;
  margin: 50px auto;
  color: black;
}
.about .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about .row .column img.icon {
  display: block;
  margin: auto;
  width: 135px;
  height: 135px;
}
.about .row .column p.text {
  color: black;
  text-align: center;
  margin: 15px 0;
}

.offers {
  margin: 100px auto;
}
.offers h2.title {
  text-align: center;
  margin: 50px auto;
  color: black;
}
.offers .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: auto 50px;
}
.offers .row .card {
  padding: 3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.offers .row .card h4.card-title {
  margin: 30px auto;
  color: black;
}
.offers .row .card p.card-text {
  color: black;
}
.offers .row .card h3.card-price {
  color: black;
  margin: 40px auto;
}
.offers .row .card button.card-button {
  display: block;
  padding: 15px 55px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
.offers .row .card button.card-button:hover {
  background: #DF7901;
  cursor: pointer;
}

.discounts {
  position: relative;
  margin: 100px auto;
}
.discounts:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item {
  height: 550px;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block {
  z-index: 10;
  top: 160px;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block h2.caption-title {
  color: white;
  text-align: center;
  letter-spacing: 0.25em;
  font-family: Montserrat, sans-serif;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block h3.caption-subtitle {
  color: #DF7901;
  text-align: center;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block p.caption-discount {
  color: white;
  text-align: center;
  font-size: 48px;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block button.caption-button {
  display: block;
  padding: 15px 70px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide .carousel-inner .carousel-item .carousel-caption.d-none.d-md-block button.caption-button:hover {
  background: #DF7901;
  cursor: pointer;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-prev,
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-next {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  top: 50%;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-prev {
  left: 5%;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-prev span.carousel-control-prev-icon {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-next {
  right: 5%;
}
.discounts #carouselExampleControlsNoTouching.carousel.slide button.carousel-control-next span.carousel-control-next-icon {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.feedback-slider.container {
  margin: 100px auto;
}
.feedback-slider.container h2.title {
  text-align: center;
  margin: 50px auto;
  color: black;
}
.feedback-slider.container #carouselExampleControls.carousel.slide {
  margin: 60px auto;
}
.feedback-slider.container #carouselExampleControls.carousel.slide .carousel-inner .carousel-item .card {
  display: grid;
  grid-template-columns: 3fr 7fr;
  position: relative;
  padding: 15px;
  height: 200px;
}
.feedback-slider.container #carouselExampleControls.carousel.slide .carousel-inner .carousel-item .card h4.username {
  margin: auto;
  color: black;
}
.feedback-slider.container #carouselExampleControls.carousel.slide .carousel-inner .carousel-item .card p.user-feedback {
  margin: auto;
  color: black;
}
.feedback-slider.container #carouselExampleControls.carousel.slide .carousel-inner .carousel-item .card p.user-feedback:before {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 27%;
  height: 150px;
  border: 1px solid lightcoral;
  opacity: 0.7;
}
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-prev,
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-next {
  top: -250px;
}
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-prev {
  left: 1000px;
}
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-prev span.carousel-control-prev-icon {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-next {
  right: -75px;
}
.feedback-slider.container #carouselExampleControls.carousel.slide button.carousel-control-next span.carousel-control-next-icon {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}
.feedback-slider.container button.feedback-button {
  display: block;
  padding: 12px 30px;
  margin: auto;
  font-size: 14px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
.feedback-slider.container button.feedback-button:hover {
  background: #DF7901;
  cursor: pointer;
}

footer.footer {
  background-image: url("../img/footer/footer-background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
  display: grid;
  grid-template-rows: 9fr 1fr;
}
footer.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
}
footer.footer .wrapper .logo {
  margin: auto;
}
footer.footer .wrapper .logo img {
  display: block;
  margin: auto;
}
footer.footer .wrapper nav.menu {
  margin: auto 0 auto 4rem;
}
footer.footer .wrapper nav.menu a.link-item {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 14px;
  padding: 2px 0;
}
footer.footer .wrapper nav.menu a.link-item:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
footer.footer .wrapper .payment {
  margin: 2rem auto 0 auto;
  width: 60%;
}
footer.footer .wrapper .payment p.payment-title {
  color: white;
}
footer.footer .wrapper .payment .payment-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer.footer .wrapper .payment .payment-icons i.fab.fa-cc-visa,
footer.footer .wrapper .payment .payment-icons i.fab.fa-cc-mastercard {
  color: white;
  font-size: 70px;
  text-align: center;
}
footer.footer .wrapper .contacts {
  margin: 2rem auto 0 auto;
}
footer.footer .wrapper .contacts p.contact-title {
  color: white;
}
footer.footer .wrapper .contacts a.contact-item {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
footer.footer .wrapper .contacts a.contact-item:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
footer.footer p.copyright {
  text-align: center;
  font-size: 12px;
  color: white;
}
footer.footer p.copyright i.far.fa-copyright {
  color: white;
}

section.booking {
  background-image: url("../img/page-background.png");
  background-size: cover;
  padding: 50px 0;
  height: 100%;
  background-repeat: no-repeat;
}
section.booking .booking-wrapper {
  width: 70%;
  padding: 70px 175px;
  background: white;
  border-radius: 5px;
  margin: auto;
}
section.booking .booking-wrapper h2.booking-title {
  margin: 0 auto 50px auto;
  text-align: center;
}
section.booking .booking-wrapper .booking-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section.booking .booking-wrapper .booking-button button.chose-booking {
  display: block;
  padding: 15px 75px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
section.booking .booking-wrapper .booking-button button.chose-booking:hover {
  background: #DF7901;
  cursor: pointer;
}
section.booking .booking-wrapper .booking-calendar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 0;
}
section.booking .booking-wrapper .booking-calendar .calendar-wrapper {
  height: 310px;
  margin: auto;
}
section.booking .booking-wrapper .booking-calendar .visit-time {
  width: 30%;
  margin: 0 auto;
}
section.booking .booking-wrapper .booking-calendar .visit-time p.text {
  color: black;
}
section.booking .booking-wrapper .booking-description {
  position: relative;
}
section.booking .booking-wrapper .booking-description p.description-item {
  padding: 15px 40px;
}
section.booking .booking-wrapper .booking-description p.description-item:nth-child(1):after {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}
section.booking .booking-wrapper .booking-description p.description-item:nth-child(2):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 18px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
section.booking .booking-wrapper button.btn-booking {
  display: block;
  padding: 10px 35px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
section.booking .booking-wrapper button.btn-booking:hover {
  background: #DF7901;
  cursor: pointer;
}

section.contacts {
  background-image: url("../img/page-background.png");
  background-size: cover;
  padding: 50px 0;
  height: 100%;
  background-repeat: no-repeat;
}
section.contacts .contacts-wrapper {
  width: 70%;
  height: 900px;
  padding: 70px 175px;
  background: white;
  border-radius: 5px;
  margin: auto;
}
section.contacts .contacts-wrapper h2.contacts-title {
  margin: 0 auto 50px auto;
  text-align: center;
}
section.contacts .contacts-wrapper .contacts-row {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .contacts-block {
  margin-bottom: 40px;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .contacts-block h4.contacts-title {
  color: black;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .contacts-block a.contact-item {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
  color: black;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .contacts-block a.contact-item:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .contacts-block a.contact-item:hover {
  color: black;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .schedule-block {
  margin-bottom: 40px;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .schedule-block h4.schedule-title {
  color: black;
}
section.contacts .contacts-wrapper .contacts-row .contacts-info .schedule-block p.schedule-item {
  color: black;
}

section.services {
  background-image: url("../img/page-background.png");
  background-size: cover;
  padding: 50px 0;
  height: 100%;
  background-repeat: no-repeat;
}
section.services .services-wrapper {
  width: 70%;
  height: 900px;
  padding: 70px 175px;
  background: white;
  border-radius: 5px;
  margin: auto;
}
section.services .services-wrapper h2.services-title {
  margin: 0 auto 50px auto;
  text-align: center;
}
section.services .services-wrapper .services-row {
  display: grid;
  grid-template-columns: 7fr 3fr;
  height: 80%;
  overflow: auto;
}
section.services .services-wrapper .services-row .service-column p.column-name {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 600;
  color: black;
}
section.services .services-wrapper .services-row .service-column p.item-name {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 400;
  color: black;
}
section.services .services-wrapper .services-row .service-column p.column-price {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 600;
  color: black;
  border-left: 1px solid lightgrey;
}
section.services .services-wrapper .services-row .service-column p.item-price {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 400;
  color: black;
  border-left: 1px solid lightgrey;
}

/*# sourceMappingURL=style.css.map */
