* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Caveat", cursive;
}

h2 {
  font-size: 48px;
  font-family: "Caveat", cursive;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.container {
  width: 1440px;
  margin: auto;
}

header.header {
  height: 100px;
  width: 100%;
  background-image: url("../img/header/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header.header .wrapper {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-areas: ". logo content content content content content content content content content content content .";
  height: 100%;
}
header.header .wrapper .logo {
  grid-area: logo;
  margin: auto;
}
header.header .wrapper .logo img {
  width: 80px;
  height: 80px;
}
header.header .wrapper .collapse-toggle {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto;
  border: 1px solid white;
  border-radius: 8px;
  background: transparent;
}
header.header .wrapper .collapse-toggle span:nth-child(1) {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  left: 9px;
  width: 20px;
}
header.header .wrapper .collapse-toggle span:nth-child(2) {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 9px;
  width: 20px;
}
header.header .wrapper .collapse-toggle span:nth-child(3) {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  bottom: 25%;
  left: 9px;
  width: 20px;
}
header.header .wrapper .content-collapse {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: "links links links links links . btn btn phone phone schedule";
}
header.header .wrapper .content-collapse .links-nav {
  grid-area: links;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
}
header.header .wrapper .content-collapse .links-nav .link-item {
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
header.header .wrapper .content-collapse .links-nav .link-item:hover {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
header.header .wrapper .content-collapse .btn-callback {
  grid-area: btn;
  display: block;
  padding: 12px 12px;
  margin: auto;
  font-size: 18px;
  color: white;
  background: #F59F39;
  border: none;
  border-radius: 90px;
  transition: background-color 0.3s;
}
header.header .wrapper .content-collapse .btn-callback:hover {
  background: #DF7901;
  cursor: pointer;
}
header.header .wrapper .content-collapse .phone {
  grid-area: phone;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
header.header .wrapper .content-collapse .phone:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
header.header .wrapper .content-collapse .schedule {
  grid-area: schedule;
  margin: auto;
}
header.header .wrapper .content-collapse .schedule p {
  color: white;
  padding: 3px 0;
  margin: auto;
  text-align: center;
}

footer.footer {
  background-image: url("../img/footer/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: grid;
  grid-template-rows: 9fr 1fr;
}
footer.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
}
footer.footer .wrapper .logo {
  margin: auto;
}
footer.footer .wrapper .logo img {
  display: block;
  margin: auto;
}
footer.footer .wrapper .menu {
  margin: auto 0 auto 4rem;
}
footer.footer .wrapper .menu .link-item {
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 14px;
  text-align: left;
  padding: 2px 0;
}
footer.footer .wrapper .menu .link-item:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
footer.footer .wrapper .payment {
  margin: 2rem auto 0 auto;
  width: 60%;
}
footer.footer .wrapper .payment .payment-title {
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  color: white;
}
footer.footer .wrapper .payment .payment-title:before {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer.footer .wrapper .payment .payment-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer.footer .wrapper .payment .payment-icons i.fab.fa-cc-visa,
footer.footer .wrapper .payment .payment-icons i.fab.fa-cc-mastercard {
  color: white;
  font-size: 70px;
  text-align: center;
}
footer.footer .wrapper .contacts {
  margin: 2rem auto 0 auto;
}
footer.footer .wrapper .contacts .contact-title {
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  color: white;
}
footer.footer .wrapper .contacts .contact-title:before {
  content: "";
  position: absolute;
  border: 1px solid white;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer.footer .wrapper .contacts .contact-item {
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: font-size 0.3s;
  font-size: 18px;
}
footer.footer .wrapper .contacts .contact-item:hover {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
footer.footer .copyright {
  text-align: center;
  font-size: 12px;
  color: white;
}
footer.footer .copyright i.far.fa-copyright {
  color: white;
}

/*# sourceMappingURL=style.css.map */
